<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>gif</key>
		<string>0</string>
		<key>png</key>
		<string>0fix</string>
		<key>chs</key>
		<string>[微笑]</string>
		<key>cht</key>
		<string>[微笑]</string>
	</dict>
    <dict>
        <key>gif</key>
        <string>1</string>
        <key>png</key>
        <string>1fix</string>
        <key>chs</key>
        <string>[撇嘴]</string>
        <key>cht</key>
        <string>[撇嘴]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>2</string>
        <key>png</key>
        <string>2fix</string>
        <key>chs</key>
        <string>[色]</string>
        <key>cht</key>
        <string>[色]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>3</string>
        <key>png</key>
        <string>3fix</string>
        <key>chs</key>
        <string>[呆]</string>
        <key>cht</key>
        <string>[呆]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>4</string>
        <key>png</key>
        <string>4fix</string>
        <key>chs</key>
        <string>[得意]</string>
        <key>cht</key>
        <string>[得意]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>5</string>
        <key>png</key>
        <string>5fix</string>
        <key>chs</key>
        <string>[流泪]</string>
        <key>cht</key>
        <string>[流泪]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>6</string>
        <key>png</key>
        <string>6fix</string>
        <key>chs</key>
        <string>[害羞]</string>
        <key>cht</key>
        <string>[害羞]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>7</string>
        <key>png</key>
        <string>7fix</string>
        <key>chs</key>
        <string>[闭嘴]</string>
        <key>cht</key>
        <string>[闭嘴]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>8</string>
        <key>png</key>
        <string>8fix</string>
        <key>chs</key>
        <string>[睡]</string>
        <key>cht</key>
        <string>[睡]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>9</string>
        <key>png</key>
        <string>9fix</string>
        <key>chs</key>
        <string>[大哭]</string>
        <key>cht</key>
        <string>[大哭]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>10</string>
        <key>png</key>
        <string>10fix</string>
        <key>chs</key>
        <string>[尴尬]</string>
        <key>cht</key>
        <string>[尴尬]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>11</string>
        <key>png</key>
        <string>11fix</string>
        <key>chs</key>
        <string>[发怒]</string>
        <key>cht</key>
        <string>[发怒]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>12</string>
        <key>png</key>
        <string>12fix</string>
        <key>chs</key>
        <string>[调皮]</string>
        <key>cht</key>
        <string>[调皮]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>13</string>
        <key>png</key>
        <string>13fix</string>
        <key>chs</key>
        <string>[呲牙]</string>
        <key>cht</key>
        <string>[呲牙]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>14</string>
        <key>png</key>
        <string>14fix</string>
        <key>chs</key>
        <string>[惊讶]</string>
        <key>cht</key>
        <string>[惊讶]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>15</string>
        <key>png</key>
        <string>15fix</string>
        <key>chs</key>
        <string>[难过]</string>
        <key>cht</key>
        <string>[难过]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>16</string>
        <key>png</key>
        <string>16fix</string>
        <key>chs</key>
        <string>[酷]</string>
        <key>cht</key>
        <string>[酷]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>17</string>
        <key>png</key>
        <string>17fix</string>
        <key>chs</key>
        <string>[冷汗]</string>
        <key>cht</key>
        <string>[冷汗]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>18</string>
        <key>png</key>
        <string>18fix</string>
        <key>chs</key>
        <string>[抓狂]</string>
        <key>cht</key>
        <string>[抓狂]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>19</string>
        <key>png</key>
        <string>19fix</string>
        <key>chs</key>
        <string>[吐]</string>
        <key>cht</key>
        <string>[吐]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>20</string>
        <key>png</key>
        <string>20fix</string>
        <key>chs</key>
        <string>[偷笑]</string>
        <key>cht</key>
        <string>[偷笑]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>21</string>
        <key>png</key>
        <string>21fix</string>
        <key>chs</key>
        <string>[可爱]</string>
        <key>cht</key>
        <string>[可爱]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>22</string>
        <key>png</key>
        <string>22fix</string>
        <key>chs</key>
        <string>[白眼]</string>
        <key>cht</key>
        <string>[白眼]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>23</string>
        <key>png</key>
        <string>23fix</string>
        <key>chs</key>
        <string>[傲慢]</string>
        <key>cht</key>
        <string>[傲慢]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>24</string>
        <key>png</key>
        <string>24fix</string>
        <key>chs</key>
        <string>[饥饿]</string>
        <key>cht</key>
        <string>[饥饿]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>25</string>
        <key>png</key>
        <string>25fix</string>
        <key>chs</key>
        <string>[困]</string>
        <key>cht</key>
        <string>[困]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>26</string>
        <key>png</key>
        <string>26fix</string>
        <key>chs</key>
        <string>[惊恐]</string>
        <key>cht</key>
        <string>[惊恐]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>27</string>
        <key>png</key>
        <string>27fix</string>
        <key>chs</key>
        <string>[流汗]</string>
        <key>cht</key>
        <string>[流汗]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>28</string>
        <key>png</key>
        <string>28fix</string>
        <key>chs</key>
        <string>[憨笑]</string>
        <key>cht</key>
        <string>[憨笑]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>29</string>
        <key>png</key>
        <string>29fix</string>
        <key>chs</key>
        <string>[装逼]</string>
        <key>cht</key>
        <string>[装逼]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>30</string>
        <key>png</key>
        <string>30fix</string>
        <key>chs</key>
        <string>[奋斗]</string>
        <key>cht</key>
        <string>[奋斗]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>31</string>
        <key>png</key>
        <string>31fix</string>
        <key>chs</key>
        <string>[咒骂]</string>
        <key>cht</key>
        <string>[咒骂]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>32</string>
        <key>png</key>
        <string>32fix</string>
        <key>chs</key>
        <string>[疑问]</string>
        <key>cht</key>
        <string>[疑问]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>33</string>
        <key>png</key>
        <string>33fix</string>
        <key>chs</key>
        <string>[嘘]</string>
        <key>cht</key>
        <string>[嘘]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>34</string>
        <key>png</key>
        <string>34fix</string>
        <key>chs</key>
        <string>[晕]</string>
        <key>cht</key>
        <string>[晕]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>35</string>
        <key>png</key>
        <string>35fix</string>
        <key>chs</key>
        <string>[折磨]</string>
        <key>cht</key>
        <string>[折磨]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>36</string>
        <key>png</key>
        <string>36fix</string>
        <key>chs</key>
        <string>[衰]</string>
        <key>cht</key>
        <string>[衰]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>37</string>
        <key>png</key>
        <string>37fix</string>
        <key>chs</key>
        <string>[骷髅]</string>
        <key>cht</key>
        <string>[骷髅]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>38</string>
        <key>png</key>
        <string>38fix</string>
        <key>chs</key>
        <string>[敲打]</string>
        <key>cht</key>
        <string>[敲打]</string>
    </dict>
    <dict>
        <key>gif</key>
        <string>39</string>
        <key>png</key>
        <string>39fix</string>
        <key>chs</key>
        <string>[再见]</string>
        <key>cht</key>
        <string>[再见]</string>
    </dict>
</array>
</plist>
